<!DOCTYPE html>
<html>
<body>
    <h style ="font-size: 200%;text-align: center;",>Please enter details of your house</h>
    <form method = "post" action="/predict">
      <input type="number" name="radius_mean" placeholder="radius_mean" required="required">
      <input type="number" name="texture_mean" placeholder="texture_mean" required="required">
      <input type="number" name="perimeter_mean" placeholder="perimeter_mean" required="required">
      <input type="number" name="area_mean" placeholder="area_mean" required="required">
      <input type="number" name="smoothness_mean" placeholder="smoothness_mean" required="required">
      <input type="number" name="compactness_mean" placeholder="compactness_mean" required="required">
      <input type="number" name="concavity_mean" placeholder="concavity_mean" required="required">
      <input type="number" name="concave_points_mean" placeholder="concave_points_mean" required="required">
      <input type="number" name="symmetry_mean" placeholder="symmetry_mean" required="required">
      <input type="number" name="fractal_dimension_mean" placeholder="fractal_dimension_mean" required="required">
      <input type="number" name="radius_se" placeholder="radius_se" required="required">
      <input type="number" name="texture_se" placeholder="texture_se" required="required">
      <input type="number" name="perimeter_se" placeholder="perimeter_se" required="required">
      <input type="number" name="area_se" placeholder="area_se" required="required">
      <input type="number" name="smoothness_se" placeholder="smoothness_se" required="required">
      <input type="number" name="compactness_se" placeholder="compactness_se" required="required">
      <input type="number" name="concavity_se" placeholder="concavity_se" required="required">
      <input type="number" name="concave_points_se" placeholder="concave_points_se" required="required">
      <input type="number" name="symmetry_se" placeholder="symmetry_se" required="required">
      <input type="number" name="fractal_dimension_se" placeholder="fractal_dimension_se" required="required">
      <input type="number" name="radius_worst" placeholder="radius_worst" required="required">
      <input type="number" name="texture_worst" placeholder="texture_worst" required="required">
      <input type="number" name="perimeter_worst" placeholder="perimeter_worst" required="required">
      <input type="number" name="area_worst" placeholder="area_worst" required="required">
      <input type="number" name="smoothness_worst" placeholder="smoothness_worst" required="required">
      <input type="number" name="compactness_worst" placeholder="compactness_worst" required="required">
      <input type="number" name="concavity_worst" placeholder="concavity_worst" required="required">
      <input type="number" name="concave_points_worst" placeholder="concave_points_worst" required="required">
      <input type="number" name="symmetry_worst" placeholder="symmetry_worst" required="required">
      <input type="number" name="fractal_dimension_worst" placeholder="fractal_dimension_worst" required="required">
       <button>Submit</button> 

    </form>
</body>
</html>